<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container m-3">
        <h3 class="pb-2">郵便番号検索</h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="address">住所:</label>
                    <div class="form-inline">
                        <input type="address" id="address" class="form-control" style="min-width: 300px;">
                        <button id="search-btn" type="button" class="btn btn-primary">検索</button>
                        <button id="clear-btn" type="button" class="btn btn-primary ml-2">クリア</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zipcode">郵便番号:</label>
                    <div class="form-inline">
                        <input type="text" id="zipcode" class="form-control" readonly>
                        <button id="copy-btn" type="button" class="btn btn-primary ml-2">コピー</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(function() {
        $('#search-btn').click(function() {
            $('#zipcode').val("");
            var url = "/search?address=" + $('#address').val();
            console.log(url);
            $.getJSON(url)
                .done(function(data) {
                    console.log(data);
                    // 成功
                    if (data.status == 200) {
                        if (data.length > 0) {
                        var str = data.items[0].zipcode;
                        const a = str.slice(0, 3);
                        const b = '-';
                        const c = str.slice(3);
                        var zipcode = (a + b + c);
                            $('#zipcode').val(zipcode);
                        }
                    } else {
                        $('#zipcode').val("失敗！");
                    }
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    $('#zipcode').val("失敗！");
                });
        });
        
        $('#clear-btn').click(function() {
            $('#address').val("");
            $('#zipcode').val("");
        });
        
        $('#copy-btn').click(function() {
            // コピーする文章の取得
            let text = $('#zipcode').val();
            // テキストエリアの作成
            let $textarea = $('<textarea></textarea>');
            // テキストエリアに文章を挿入
            $textarea.text(text);
            //　テキストエリアを挿入
            $(this).append($textarea);
            //　テキストエリアを選択
            $textarea.select();
            // コピー
            document.execCommand('copy');
            // テキストエリアの削除
            $textarea.remove();
        });
    })
</script>